h1{
	color: red;
	background-size: blue;
}
.modal-dialog {
  width: 100%;
  height: 100%;

}

.modal-content {
  height: 154%;
  width: 98%;
  border-radius: 0;
  margin-top: -30px;

}
.modal-header{
	

}
.modal-title{
	margin-top: -10px;
}
.modal-body{
	height: 600px;
}
.image{
	width: 250px;
	height: 300px;
}
#player{

}
.btn{
	border-radius: 0px;
}
 #soundcloud{
 	height: 260px;
 }
 #topo{
 	
 }