#video1{
width: 170px;
padding: 170px;
}
#video2{
width: 170px;
padding: 170px;
margin-top: -340px;
margin-left: 350px;

}
#video3{
width: 170px;
padding: 170px;

margin-top: -340px;
margin-left: 700px;
}
#video4{
width: 170px;
padding: 170px;
margin-top: -340px;
margin-left: 1050px;
}
