<!DOCTYPE html>
<html ng-app="books" > 
    <head>
      <title> Leitura Quântica </title> 
      <meta charset="utf-8">
      <link  href = "css/bootstrap.min.css"  rel="stylesheet" /> <!--bootstrap-->   
      <script src="js/angular.min.js"></script>
      
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
      <link rel="stylesheet" type="text/css" href="css/estilo.css"/> 
    </head>
    <body ng-controller="books_controller" > 
  

    <div id="container_menu" class="container">  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav">
          <li class="active"><a href="file:///home/suelliton/suelliton.github.io/index.html" ng-click="carregar(1)">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#" ng-click="carregar(2)">Ascenção Planetária</a></li>
          <li><a href="#" ng-click="carregar(3)">Budismo/Hinduísmo</a></li>
          <li><a href="#" ng-click="carregar(ciencia)">Ciência</a></li>
          <li><a href="#">Hérmetismo</a></li>
          <li><a href="#">Hélio Couto</a></li>
          <li><a href="#">Mestres Ascensos</a></li>
          <li><a href="#">Extra-Terrestres</a></li>
          <li><a href="#">Saúde/Médicina</a></li>
          <li><a href="#">Teosofia</a></li>
          <li><a href="#">Xamanismo</a></li>
          <li><a href="#">Yoga</a></li>
          <li><a href="#">Outros</a></li>         
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="busca">
          </div>
            <button type="submit" ng-click="carregar(home)"  class="btn btn-default">Pesquisa avançada</button>
        </form>      
      </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->

    <div class="text-center">
        <h1 ng-bind="categoria" ng-show="!carregando"></h1>
        <h1 ng-show="carregando">Carregando...</h1>
    </div>

    <div class="progress"  ng-show="carregando" >
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{load}}"
      aria-valuemin="0" aria-valuemax="100" style="width:{{load}}%">
        <span class="sr-only">70% Complete</span>
      </div>
    </div>


    

 





    

     <!--fotos pdfs janela leitura-->
        <div class="container" ng-show="!carregando">
          <div class="row">          
              <div class="col-md-3" >             
                  <div class="modal fade " id="myModal">   
                    <div class="modal-dialog modal-lg" >
                      <div class="modal-content"  >
                        <div class="modal-header">  
                        <div class="row">
                          <div class="col-md-4">
                             <h4 class="modal-title">{{book_show.name}} <!--Titulo--> 
                          </div>
                          <div class="col-md-4">  <!--Icone--> 
                              <div class="text-center">
                                <a href="#pdf"  class="text-center"><span>Descer</span></a><br>
                                <a href="#pdf" class="text-center"><img src="icons/icone_pra_baixo.png" width="20" height="20" class="text-center"></a>
                              </div>  
                          </div>
                          <div class="col-md-4">
                                <div id="player" class="text-right">
                                   Rádio Online
                                  <audio class="player"  controls="controls">
                                     <source src="http://stm37.srvstm.com:10112/;stream.mp3" type="audio/mpeg" />
                                  </audio>﻿
                                </div>
                                 <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">Fechar</span></button>   
                           </div>
                        </div>                          

                        </div>
                        <div class="modal-body" >  
                          <div id="soundcloud">
                              <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/27096209&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
                            </div>
                            
                             <div id="pdf">
                                
                                <iframe  src="http://docs.google.com/gview?url=https://www.dropbox.com/s/j39wtkplmxiiip7/O%20Poder%20da%20Acao%20-%20Paulo%20Vieira.pdf?dl=1&embedded=true" scrolling="no"  frameborder="0"></iframe>
                           
                            </div>   
                          <!--<iframe id="pdf"  src="{{book_show.pdf}}"  frameborder="0" scrolling="no"></iframe>-->
                        </div>                      
                      </div><!--modal -content-->
                    </div><!--modal-dialog-->
                  </div><!--modal-->
                
          </div>
        </div> 
        </div>
      <div class="container"><!--foto do livo nome etc-->
                      <div class="col-md-3" ng-repeat = "book in books | filter:busca ">
                          <button ng-click="clicked(book) " type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal" >
                         <img src="{{book.image}}" ng-click="show()" class="image" ><br>                         
                         <span >{{book.autor}}</span>
                          </button>            
                      </div>
                  </div>
      


        
   <button ng-click=" " type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal" >Poder da ação</button>
     
    
   



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> <!--jquery cdn-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/efeitos.js"></script>  
    <script src="js/app.js"></script> 
  </body> 
</html>
